html,
body,
#root {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

body {
  margin: 0;
}

*,
*:after,
*:before {
  box-sizing: border-box;
}

.background {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

.desktop {
  display: block;
}

.mobile {
  display: none !important;
}

.homeImg {
  border-radius: 5vh;
  width: 100%;
  height: 100%;
  padding: 0.5rem;
}

.casaAmarelaInfo {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 40%;
  height: 100%;
  flex-direction: column;
  gap: 1rem;
  padding: 5rem;
}

.casaAmarelaImg {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 100%;
  flex-direction: column;
  gap: 1rem;
  position: relative;
  padding: 5rem;
  width: 60%;
}

.casaAmarelaEstatisticas {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 100%;
  flex-direction: column;
  gap: 1rem;
  position: relative;
  padding: 5rem;
  width: 60%;
}

.casaAmarelaBarrinha {
  position: absolute;
  top: 6rem;
  left: 1rem;
  width: 50%;
}

.hospitality {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 100%;
  flex-direction: row;
  gap: 2rem;
  padding: 5rem;
  background-color: var(--color-red);
}

.hospitalityTitle {
  display: flex;
  gap: 0.75rem;
  flex-direction: column;
}

.hospitalityInfo {
  display: flex;
  gap: 2rem;
  flex-direction: column;
}

.hospitalityRoom {
  width: 50%;
}

.hospitalityRoom img {
  width: 100%;
  height: auto;
}

.houses {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  flex-direction: column;
}

.housesMap {
  width: 100%;
  height: 100%;
  border-radius: 5vh;
  padding: 0.5rem;
}

.casaRio {
  position: absolute;
  bottom: 40%;
  left: 2%;
}

.casaCaju {
  position: absolute;
  bottom: 42%;
  left: 12%;
}

.casaSal {
  position: absolute;
  bottom: 56%;
  left: 19%;
}

.casaCamua {
  position: absolute;
  bottom: 38%;
  left: 26%;
}

.casaBaete {
  position: absolute;
  bottom: 45%;
  left: 36%;
}

.casaDecker {
  position: absolute;
  bottom: 60%;
  left: 33%;
}

.casaDharma {
  position: absolute;
  bottom: 57%;
  left: 46%;
}

.casaBruxa {
  position: absolute;
  bottom: 45%;
  left: 50%;
}

.cardReserva {
  height: 100%;
  position: absolute;
  bottom: 0;
  right: 5%;
  padding: 1rem;
  align-items: center;
  display: flex;
}

.scrollText {
  font-size: 1.5rem;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.25rem;
  height: 10rem;
  width: 25%;
  text-align: center;
  border-radius: 10px;
}

.piawoodInfo {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 40%;
  height: 100%;
  flex-direction: column;
  gap: 1rem;
  padding: 5rem;
}

.piawoodImg {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 100%;
  flex-direction: column;
  gap: 1rem;
  position: relative;
  padding: 5rem;
  width: 60%;
}

.piawoodEstatisticas {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  flex-direction: column;
  gap: 1rem;
  position: relative;
  padding: 5rem;
  width: 60%;
}

.piawoodEstatisticas img {
  max-height: 90%;
}

.events {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 100%;
  flex-direction: row;
  gap: 2rem;
  padding: 5rem;
  background-color: var(--color-blue);
  /* background: linear-gradient(180deg, transparent 50%, var(--color-blue) 50%); */
}

.eventsInfo {
  display: flex;
  gap: 0.75rem;
  flex-direction: column;
  width: 100%;
}

.eventsImg {
  width: 100%;
  height: 100%;
  padding: 1rem;
}

.eventsImg img {
  position: absolute;
  top: -5%;
  width: 40%;
}

.yellowFilme {
  display: flex;
  gap: 3.5rem;
  background: var(--color-orange-accent);
  justify-content: center;
}

.yellowFilme::-webkit-scrollbar {
  display: none;
}

.curtainContainer {
  position: relative;
  width: 100%;
  height: 100dvh;
  overflow: hidden;
}

.curtain {
  position: absolute;
  top: 0;
  width: 50%;
  height: 100%;
  z-index: 9999;
  transition: transform 2s ease-in-out;
}

.leftCurtain {
  background: url("/src/Assets/curtain_left.png") no-repeat;
  background-size: 100% 100%;
}

.rightCurtain {
  background: url("/src/Assets/curtain_right.png") no-repeat;
  background-size: 100% 100%;
}

.curtainContent {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  gap: 5rem;
  align-items: center;
  justify-content: center;
  color: #fff;
  background-color: var(--color-orange-accent);
  /* opacity: 0; */
  transition: opacity 1s ease-in-out;
}

.curtainContent.visible {
  opacity: 1;
}

.videoContainer {
  border-radius: 5vh;
  width: 100%;
  height: 100%;
  padding: 0.5rem;
}

@media all and (max-width: 1100px) {
  .desktop {
    display: none !important;
  }

  .mobile {
    display: block !important;
  }

  .casaAmarelaInfo {
    width: 100%;
    padding: 2rem;
    align-items: center;
  }

  .casaAmarelaImg {
    width: 100%;
    height: auto;
    padding: 1rem;
  }

  .casaAmarelaBarrinha {
    top: -5rem;
    left: -1rem;
  }

  .casaAmarelaEstatisticas {
    width: 100%;
    height: auto;
    padding: 1rem;
  }

  .casaAmarelaEstatisticas svg {
    width: 100%;
    height: auto;
  }

  .hospitality {
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    padding: 2rem;
    height: 100%;
  }

  .hospitalityInfo {
    align-items: center;
    gap: 1rem;
  }

  .hospitalityTitle {
    flex-direction: row;
  }

  .hospitalityRoom {
    width: 100%;
  }

  .hospitalityRoom img {
    width: 100%;
    height: auto;
  }

  .housesMap {
    position: absolute;
    padding: 0;
  }

  .housesMap img {
    padding: 0.5rem;
    border-radius: 5vh;
    height: 100%;
    width: 100%;
  }

  .housesCard {
    display: flex;
    align-items: center;
    height: 100%;
    padding: 2rem;
  }

  .piawoodInfo {
    width: 100%;
    padding: 2rem;
    align-items: center;
  }

  .piawoodImg {
    width: 100%;
    height: auto;
    padding: 1rem;
  }

  .piawoodImg img {
    width: 100%;
    height: auto;
  }

  .piawoodEstatisticas {
    width: 100%;
    height: auto;
    padding: 4rem;
    display: flex;
    justify-items: center;
  }

  .events {
    padding: 0rem 2rem;
    height: 100%;
    background-color: var(--color-blue);
    position: relative;
  }

  .eventsInfo {
    height: 100%;
  }

  .eventsImg {
    width: 100%;
    height: 100%;
    padding: 1rem;
  }

  .eventsImg img {
    position: absolute;
    top: -5%;
  }

  .curtainContent {
    flex-direction: column-reverse;
    padding: 1rem 1rem;
    gap: 1rem;
  }

  .yellowFilmeMobile::-webkit-scrollbar {
    display: none;
  }
}
